{% extends "layout.html" %}
{% block content %}
  <h1 class="mt-4">Project Overview</h1>
  <p>This project implements a random forest classification model to predict 
    whether events submitted to an event website are real or fraudulent events.  
    The events are pulled from an API and stored in a Postgres database and 
    displayed using a Flask app.  You can read more about this project by
    clicking the "GitHub" link in the upper right corner.
  </p>
  <p>
    To check the model predictions, click on the "Review Predictions" button 
    on the left.
  </p>
{% endblock %}
