{% extends "layout.html" %}
{% block content %}
        <h1 class="mt-4">Review Dashboard selection</h1>
        <p>Here you can examine the model predictions</p>
        <p>Enter the probability of fraud that you would like to see.
          For example, to see events with fraudulent predictions of greater than
          80%, you would enter 0.8.  Enter the value you choose here:</p> 
        <form action="/results" method="POST">
          <!-- <input type="text" name="predict_type" /> -->
          <!-- <select name="fraud_cutoff">
            <option value="Fraudulent Events">Fraudulent Events</option>
            <option value="real Events">real Events</option>
            <option value="All Events">All Events</option>
            </select> -->
          <input type="number" name="fraud_cutoff" min="0" max="1", step="any"/>
          <p></p>
          <p>enter number of results to view:</p> 
          <input type="number" name="n_records" min="1" max="1000"/>
          <p></p>
          <p>once you have selected the options, click below:</p>
          <input type="submit" value="view results"/>
        </form>
        {% endblock %}